
/tools/*.exe

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

# Uploaded files (keep directories via .gitkeep)
/public/uploads/annonces/*
/public/uploads/profils/*
/public/uploads/quittances/*
/public/uploads/candidatures/*
!/public/uploads/annonces/.gitkeep
!/public/uploads/profils/.gitkeep
!/public/uploads/quittances/.gitkeep
!/public/uploads/candidatures/.gitkeep
